.form {
width: 600px;
background:
  radial-gradient(circle, transparent 20%, slategray 20%,
    slategray 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, slategray 20%,
    slategray 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#A8B1BB 8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #A8B1BB 8px, transparent 8px) -4px 0;
background-color: slategray;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.btn{
	border: none;
	background-color: #030303;
	border-radius: 5%;
	font-weight: bold;
}

.btn:hover{
	transform: scale(1.05);
	transition: 0.3s;
}

.btn:active{
	transform: scale(1.0);
	transition: 0s;

}

.input,.btn:focus{
	outline: none;
	border: none;
}