.form {
width: 50vw;
min-width: 500px;
/*background-image: linear-gradient(to right, #f5f7fa, #c3cfe2);*/
background-color: #f5f7fa;
background-size: 100px 100px, 100px 100px, 50px 50px, 50px 50px;
}

.btn{
	border: none;
	

	/*font-weight: bold;*/
}

.btn:hover{
	transform: scale(1.05);
	transition: 0.3s;
}

.btn:active{
	transform: scale(1.0);
	transition: 0s;

}

.input,.btn:focus{
	line-height: 1.5rem;
	outline: none;
	border: none;
}