nav{
	display:flex;
	justify-content: space-between;
	padding-left: 1rem;
	padding-right: 1rem;
}



.name{
	font-weight: bold; 
}

.nav_element{
    border: 1px solid #040404;
}

.nav_end{
	display: flex;
	justify-content: center;
	align-items: center;
}

