.App {
  text-align: center;
  font-family: Ubuntu, sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.input_field{
  border-color: #030303;
  border-radius: 4px;
}

.input_field:focus {
  outline : none;
}

.input_field:hover{
  outline : 1px solid #040404; 
}

.sect{
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.vector{
  position: fixed;
  z-index: -1;
  top: 100px;
  left: 0;
  height: 400px;
}

.image_wrapper{
  display: flex;
  flex-flow: column;
  justify-content: space-between;

}