.container{

	/*max-width: 30%;*/

}

.instructions{
	
	position:absolute;
	min-width: 50vw;
	top: 0vh;
	right: 15vw;
	margin: 0 auto;
	background-color: #030303;
	background-image: linear-gradient(315deg, #000000 0%, #070707 74%);
	color:#efefef;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 2px 5px 10px black;
}



ol{
	text-align:left;
	letter-spacing: 12%;

}

li{
	padding-bottom: 1em;

}